@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
	background: url('https://pp.userapi.com/c847217/v847217366/28738/cLwsOTMPau8.jpg') fixed;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
input {
	height : 30px;
	border: 2px solid #999;
	font-family: Helvetica, sans-serif;
	color: #999;
}

#ratefeld {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 16.0px;
}

h3 {
	font-family: 'Permanent Marker', 'cursive';
}
