@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
	background: url('http://bgrounds.ru/_include/img/bgs/hollow-spheroids/white-hollow-spheroids.png') fixed;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
input {
	border: 2px solid #999;
	font-family: Helvetica, sans-serif;
	color: #999;
}

#ratefeld {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 3.0em;
}

h1 {
	font-family: 'Permanent Marker', 'cursive';
}
